/** @format */

.kdePns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  width: 100%;
  margin-top: 10px;
  font-size: 1rem;
}
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.vx-row > .vx-col {
  padding: 0 1rem;
}
.w-full {
  width: 100% !important;
}
.t-title {
  font-size: 0.8rem;
  font-weight: bold;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}
.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 95%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border: 1px solid #dee2e6;
  border-color: #dee2e6;
}
@media (max-width: 48em) {
  .kdePns {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }
  .table {
    margin-top: -44px;
  }
}
